spring:
  profiles:
    active: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  jackson:
    date-format: 'yyyy-MM-dd HH:mm:ss'
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 5MB
      file-size-threshold: 5MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  rabbitmq:
    virtual-host: zjnbit
    listener:
      simple:
        acknowledge-mode: manual
        retry:
          enabled: true    #开启重试
          max-attempts: 3  #最大重试次数
          initial-interval: 2000ms  #重试间隔时间
  # redis
  redis:
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池最大连接数
        max-active: 200
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
        # 连接池中的最大空闲连接
        max-idle: 10
        # 连接池中的最小空闲连接
        min-idle: 0
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: isDeleted
      id-type: assign_id
  mapper-locations: classpath:mapper/*.xml
# logback配置文件
logging:
  config: classpath:config/logback-${spring.profiles.active}.xml
# Sa-Token配置
sa-token:
  # token名称 (同时也是cookie名称)
  token-name: zjnbit_bbs_auth
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false
  auto-renew: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    tags:
      application: 'zjnbit-bbs-server'